.center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

#account-text {
    /* font-family: 'Muli'; */
    font-family: 'Helvetica';
    margin: '5px';
    font-size: '14px';
    color: #999;
}

.link {
    color: #999;
    text-decoration: none;
    letter-spacing: 1px;
}
  
.link:hover {
    color: #14BACE;
}