body {
    font-family: 'Helvetica';
    color: #263238;
}

#link {
    text-transform: uppercase;
    font-size: '9px';
    text-decoration: underline;
    letter-spacing: 2px;
    color: #999;
}

#card-header {
    text-align: center;
    text-transform: uppercase;
    /* font-family: 'Muli'; */
    font-family: 'Helvetica';
    font-weight: '100';
    font-size: '14px';
    color: white;
}

#card-title {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-size: '12px';
}

#card-subtitle {
    text-align: right;
    font-family: 'Helvetica';
    font-size: '10px';
    color: #999;
}