@import "../../styles/variables.css";

.add-page {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 90%;
  margin: auto;
  /* padding-top: 25px; */
  padding-bottom: 25px;
}

.input-fields {
  display: flex;
  border-bottom: 1px solid;
}

.add-button {
  border: 0;
}

#employee {
  font-family: 'Helvetica';
  font-size: 16px;
  color: #366387;
  font-weight: 100;
  letter-spacing: 4px;
}

/* .add-container {
  display: flex;
  background: white;
  color: var(--textColor);
  height: 5%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  border-bottom: double;
  margin-top: 10px;
  padding-bottom: 10px;
} */
