@import "../../styles/variables.css";

.management-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.change-password {
  font-size: 16px;
  font-weight: 300;
  /* text-align: right; */
  color: #366387;
  opacity: 0.8;
  background-color: #fff;
  width: 100%;
  height: 30%;
  border-style: solid;
  border-radius: 0px;
  border-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.change-password:hover {
  color: #fff;
}

.add-employee-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 80%;
}

#settings {
  font-family: 'Helvetica';
  font-size: 15px;
  color: #366387;
  opacity: 0.6;
  font-weight: 350;
}

#settings-sub {
  font-family: 'Helvetica';
  font-size: 15px;
  color: #366387;
  opacity: 0.5;
  font-weight: 100;
}
