@import "../../styles/variables.css";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.change-password {
  width: 11%;
  height: 7%;
}

.add-employee-container {
  display: block;
  position: relative;
  border: 5px black;
  width: 50%;
  height: 80%;
}
