@import '../../styles/variables.css';

.scroll-styles {
  position: fixed;
  right: -100px;
  bottom: 5px;
  transition: right 0.5s;
  background-color: none;
  font-size: 20px;
  padding: 10px;
}

.scroll-transition {
  right: 20px;
}

#logo {
  font-family: 'Helvetica';
  background: linear-gradient(#90CAF9, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 26px;
  letter-spacing: 4px;
}

a:link {
  font-family: 'Helvetica';
  color: #999;
  text-decoration: none;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}

a:hover {
  color: #90CAF9;
}

#nav-text {
  font-family: 'Helvetica';
  background: linear-gradient(#90CAF9, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #90CAF9; */
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 4px;
}

#nav-link {
  font-family: 'Helvetica';
  background: linear-gradient(#90CAF9, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #999;
  text-decoration: none;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#nav-link:hover {
  color: #90CAF9;
  background: #fff;
}

/* keep in case we want a landing background */
/* .landing {
  align-items: right;
  background-color: #fff;
  background-image: url(./test.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
*/

.landing-product {
  display: flex;
  justify-content: space-around;
}

.landing-button {
  font-family: "Helvetica";
  color: #999;
  font-size: medium;
  font-weight: 100;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 30px;
  width: 200px;
  margin: auto;
  padding: 15px;
  border-style: none;
  border-radius: 2px;
  /* border-color: gray;
  outline: none;
  transition: border-color 0.2s ease-out; */
}

.landing-button:hover {
  color: #90CAF9;
}

.landing-list {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  /* overflow: hidden;
  background-color: #fff; */
}

.landing-item {
  float: right;
}

#landing-title {
  font-family: 'Muli';
  color: #999;
  font-weight: 100;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: left;
  justify-items: right;
}

#landing-subtitle {
  font-family: 'Muli';
  color: #999;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
  justify-items: right;
}

#landing-link {
  font-family: 'Muli';
  color: #999;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
  justify-items: right;
}

#landing-link:hover {
  color: #90CAF9;
}

/* #next {
  position: relative;
} */

#bottom {
  position: absolute;
  bottom: 0;
}

.tab { 
  display: inline-block; 
  margin-left: 20px; 
}

.about-us {
  align-items: center;
  justify-content: center;
  background-color: #57b4ff;
  /* background-image: url(./test.jpg); */
  opacity: 0.4;
  background-size: cover;
}

.about-text-section {
  background-color: #fff;
  padding: 30px 30px 30px 30px;
  opacity: 0.6;
}

#about-title {
  font-family: 'Muli';
  color: #0f2b42;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
}

#about-subtitle {
  font-family: 'Helvetica';
  color: #000;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}

/* keep in case we want a features background */
/* .core-features {
  align-items: right;
  background-color: linear-gradient(#90CAF9, #999);
  background-image: url(./test.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
} */

#features-title {
  font-family: 'Muli';
  font-weight: 400;
  /* darker - color: #b5d9f7; */
  /* lighter - color: #c1dff7; */
  color: #adc9e0;
  font-size: 26px;
  letter-spacing: 0px;
  text-align: center;
  /* text-transform: uppercase; */
}

#features-text {
  font-family: 'Helvetica';
  color: #999;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 0px;
  text-align: center;
}


.login-page {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url(./test.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.input {
  display: block;
  font-size: large;
  height: 30px;
  width: 225px;
  margin: 0px auto 10px auto;
  padding: 10px;
  border-style: solid;
  border-radius: 8px;
  border-color: gray;
  outline: none;
  transition: border-color 0.2s ease-out;
}

.input:focus {
  border-color: #fda766;
}

.text-align-left-container {
  text-align: left;
}

.text-align-right-container {
  text-align: right !important;
}

#wrap {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 44px 13px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 0px 44px 13px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 44px 13px rgba(0, 0, 0, 0.61);

  border-radius: 25px;

  position: absolute; /* no idea what i did here dont touch lmfao */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
}

#sign-in {
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

#form-container {
  width: 250px;
  margin: auto;
  position: relative;
}

#remember-me {
  text-align: left;
  font-size: 20px;
}

#submit-button {
  background-image: linear-gradient(var(--primaryColor), var(--primaryColor));
  border: none;
  border-radius: 8px;
  padding: 12px 25px;
  margin-top: 10px;
  color: white;
  font-size: 15px;
}

#forgot-password {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 0px;
  font-size: 15px;
  margin-top: 22px;
  color: var(--primaryColorDark);
}

/* transitions for landing text lol */
/* .fade-in-title {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
} */

.fade-in-subtitle {
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
  -moz-animation: fadeIn ease 7s;
  -o-animation: fadeIn ease 7s;
  -ms-animation: fadeIn ease 7s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}